*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar h1{
    color: white;
}
.navbar ul{
    list-style-type:none;
} 
.navbar ul li{
    display: inline;
    margin-left: 15px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
}
.section-content{
    background-image: url(https://media.istockphoto.com/id/1483813709/photo/close-up-woman-hands-typing-on-laptop-computer-keyboard-surfing-the-internet-on-office-table.jpg?s=1024x1024&w=is&k=20&c=QMAP-uChJ1klGJZRekbDUu9UeU-ijX7KBloUdHUOY9U=);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
.content{
    text-align: center;
    padding: 155px;
    color:white ;

}
.content h1{
    font-size: 30px;
    margin-bottom: 15px;
}
.content p{
    font-size: 15px;
    margin-bottom: 15px;
    padding-top: 5px;
}
.learn{
    border-radius: 5px ;
    border: 1px blue solid;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}
hr{
    width: 800px;
    height: 3px;
    background-color: blue;
}

.learn:hover{
    background-color: aqua;
}
.Design{
    background-color: rgb(245, 243, 240);
    text-align: center;
    padding: 20px 0px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 25px;
    margin: 25px;
}

.contact{    
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}
.picture{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap:30px;
}

.picture img{
    width: 27% ;
    height: 200px;
}

.form-container{
    display: block;
    text-align: center;
    background-image: url(img/seven.jpg);
    margin-top: 30px;
    padding: 50px;
    border-radius: 10px;
    width: 100%;
    height: 100vh;
    color: white;
}
.form-container h2{
    margin-bottom: 15px;
}
.form-container p{
    margin-bottom: 15px;
}
form input,form textarea{
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;

}
form input{
    height: 40px;
    width: 400px;
}
form textarea{
    height: 100px;
    width: 400px;
}
table{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 10px;
}
button{
    padding: 10px 20px;
    background-color: beige;
    color: rgb(17, 17, 17);
    border-radius: 5px;

}
button:hover{
    background-color: #005f73;
}